ec2/ec2-creation-along-with-new-ssh-key-and-new-security-group/.terraform
ec2/ec2-creation-with-existing-security-group-and-existing-key/.terraform
ec2/ec2-creation-with-new-security-group-with-existing-ssh-key/.terraform
